#about-box {
  h2, h3 {
    font-weight: bold !important;
  }
  h2 {
    text-decoration: underline #212529;
  }
}

.vertical-align {
  display: flex;
  align-items: center;
}

.box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  .icon {
    height: 50px;
  }
}
