<h2>Add a Personality Trait to your Profile</h2>

<%= simple_form_for @trait do |f| %>
  <%= f.association :trait, input_html: {class: 'select2-list'} %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>

<%= link_to "Go Back", user_profile_path(current_user.user_profile.id) %>
