<div class="container-fluid gradient" id="about-box">
  <div class="row">
    <div class="col-8 offset-2 text-center">
      <h2>WHO ARE WE?</h2>
      <p>
        We are a group of happy people just like you. Inspired on the idea of helping millions to make their life easier by providing them with amazing tools like Jobhoot. Whether is creating a work resume, applying for jobs, contacting employers or employers struggling find the right people, we are here to help! Because helping makes us happy :)
      </p>
      <p>
        Please give us a hand and support us using any of the methods bellow, that will keep us alive and free!
      </p>
      <br>
      <h3>Please help us to help!</h3>
      <p>
        If you like our project. Lets join forces to keep it alive and free!
        Using this methods will support our cause :)
      </p>
      <div class="box text-center">
        <div>
          <%= image_tag "fund.png", class: "icon" %>
          <p>Donations</p>
        </div>
        <div>
          <%= image_tag "fund2.png", class: "icon" %>
          <p>Advertising with us</p>
        </div>
        <div>
          <%= image_tag "social.png", class: "icon" %>
          <p>Sharing it to your friends</p>
        </div>
        <div>
          <%= image_tag "feedback.png", class: "icon" %>
          <p>Give us feedback to improve</p>
        </div>
      </div>
      <p>
        Thank you for supporting us, helpers and donators will be
        featured in our exclusive Hall of Fame (Forever)
      </p>
    </div>
  </div>
</div>
