<div class="container-fluid gradient">
  <div class="row">
    <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <div class="form-login">

        <h2 class="text-center">Edit your Profile</h2>

        <%= render 'form' %>
        <%= link_to "Cancel", user_profile_path(current_user.user_profile.id),
        class: "btn btn-light" %>
      </div>
    </div>
  </div>
</div>


